@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(src/Pictures/background.png) no-repeat;
    background-size: cover;
}