@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(src/Pictures/background.png) no-repeat;
    background-size: cover;
}
.grauebox {
    position: absolute;
    background: rgb(27, 26, 26);
    width: 1853px;
    height: 65px;
    left: 0%;
    top: 0%;
    padding: 10px;
    border: 3px solid #363636;
}
.title{
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  height: 100px;
  position: absolute;
  color: white;
  font-size: 230%;
  left: 25%;
  text-align: center;
  top: 160%;
}
.haubtseite a {
    position: absolute;
    color: rgba(82, 78, 78, 0.514);
    font-family: Impact, fantasy;
    font-size: 26px;
    left:35%;
    top: 29%; 
    text-decoration: none;
    -webkit-transition: color ease-in 0.1s;
    -moz-transition: color ease-in 0.1s;
    -o-transition: color ease-in 0.1s;
    transition: color ease-in 0.1s;
}
a:hover {
  color: rgb(12, 128, 122);
}
  .FAQ a {
    position: absolute;
    color: rgba(82, 78, 78, 0.514);
    font-family: Impact, fantasy;
    font-size: 26px;
    left:44%;
    top: 29%; 
    text-decoration: none;
    -webkit-transition: color ease-in 0.1s;
    -moz-transition: color ease-in 0.1s;
    -o-transition: color ease-in 0.1s;
    transition: color ease-in 0.1s;
}
a:hover {
  color: rgb(12, 128, 122);
}
  .Kontackt a {
    position: absolute;
    text-decoration: none;
    color: rgba(82, 78, 78, 0.514);
    font-family: Impact, fantasy;
    font-size: 26px;
    left:49%;
    top: 29%; 
    -webkit-transition: color ease-in 0.1s;
    -moz-transition: color ease-in 0.1s;
    -o-transition: color ease-in 0.1s;
    transition: color ease-in 0.1s;
}
a:hover {
  color: rgb(12, 128, 122);
}
  .Shop a {
    position: absolute;
    color: rgba(82, 78, 78, 0.514);
    font-family: Impact, fantasy;
    font-size: 26px;
    left:57%;
    text-decoration: none;
    top: 29%;
    -webkit-transition: color ease-in 0.1s;
    -moz-transition: color ease-in 0.1s;
    -o-transition: color ease-in 0.1s;
    transition: color ease-in 0.1s;
}
a:hover {
  color: rgb(12, 128, 122);
}
.anmeldebutton {
    width: 150px;
    height: 50px;
    background: 	#0000003d;
    position: absolute;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    font-family: fantasy;
    text-decoration: none;
    top: 5%;
    left: 91%; 
    border-radius: 25px;
    border: 2px solid rgb(187, 184, 184);
  }
  .downloadwinbox {
    position: absolute;
    background: rgba(59, 59, 59, 0.582);
    width: 500px;
    height: 350px;
    left: 5%;
    top: 500%;
    padding: 10px;
    border-radius: 10px;
  }
  .win32button {
    position: absolute;
    background: rgba(80, 80, 80, 0.424);
    width: 200px;
    height: 150px;
    left: 7%;
    top: 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black;
    border-color: rgb(244, 245, 179);
    cursor: pointer;
  }
.win32button:hover{
  box-shadow: inset 0 0 0 0.2rem black;
}
.winbild32 i{
  position: absolute;
  left: 19%;
  top:57%;
  z-index: -1;
  color: rgb(255, 255, 255);
}
.win64button {
  position: absolute;
  background: rgba(80, 80, 80, 0.424);
  width: 200px;
  height: 150px;
  left: 55%;
  top: 50%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: black;
  border-color: rgb(244, 245, 179);
  cursor: pointer;
}
.win64button:hover{
box-shadow: inset 0 0 0 0.2rem black;
}
.winbild64 i{
  position: absolute;
  left: 67%;
  top:57%;
  z-index: -1;
  color: rgb(255, 255, 255);
}
.textforwin64 {
  position: absolute;
  left: 58%;
  top: 80%;
  font-size: 80%;
  color: rgba(202, 202, 202, 0.787);
  z-index: -1;
}
.textforwin32 {
  position: absolute;
  left: 10%;
  top: 80%;
  font-size: 80%;
  color: rgba(202, 202, 202, 0.787);
  z-index: -1;
}
.textforwin {
  position: absolute;
  left: 21%;
  top: 10%;
  font-size: 90%;
  color: rgb(255, 255, 255);
  text-align: center;
}
.strichuntertext {
  position: absolute;
  background: rgba(75, 75, 75, 0.842);
  width: 350px;
  height: 2px;
  left: -5%;
  top: 80%;
}
.macdownload {
  position: absolute;
  background: rgba(59, 59, 59, 0.582);
  width: 500px;
  height: 350px;
  left: 37%;
  top: 500%;
  padding: 10px;
  border-radius: 10px;
}
.macbutton{
  position: absolute;
  background: rgba(80, 80, 80, 0.424);
  width: 450px;
  height: 150px;
  left: 7%;
  top: 50%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: black;
  border-color: rgb(244, 245, 179);
  cursor: pointer;
}
.macbutton:hover{
  box-shadow: inset 0 0 0 0.2rem black;
}
.macbild i{
  position: absolute;
  left: 42%;
  top:57%;
  z-index: -1;
  color: rgb(255, 255, 255);
}
.mactext {
  position: absolute;
  left: 39%;
  top: 80%;
  font-size: 80%;
  color: rgba(202, 202, 202, 0.787);
  z-index: -1;
}
.strichuntermactext {
  position: absolute;
  background: rgba(75, 75, 75, 0.842);
  width: 300px;
  height: 2px;
  left: -10%;
  top: 75%;
}
.textformac {
  position: absolute;
  left: 25%;
  top: 10%;
  font-size: 90%;
  color: rgb(255, 255, 255);
  text-align: center;
}
.linuxdownload {
    position: absolute;
    background: rgba(59, 59, 59, 0.582);
    width: 500px;
    height: 350px;
    left: 68%;
    top: 500%;
    padding: 10px;
    border-radius: 10px;
}
.linuxbutton{
  position: absolute;
  background: rgba(80, 80, 80, 0.424);
  width: 450px;
  height: 150px;
  left: 7%;
  top: 50%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: black;
  border-color: rgb(244, 245, 179);
  cursor: pointer;
}
.linuxbutton:hover{
  box-shadow: inset 0 0 0 0.2rem black;
}
.linuxbild i{
  position: absolute;
  left: 42%;
  top:57%;
  z-index: -1;
  color: rgb(255, 255, 255);
}
.linuxtext {
  position: absolute;
  left: 39%;
  top: 80%;
  font-size: 80%;
  color: rgba(202, 202, 202, 0.787);
  z-index: -1;
}
.strichunterlinuxtext {
  position: absolute;
  background: rgba(75, 75, 75, 0.842);
  width: 300px;
  height: 2px;
  left: -5%;
  top: 75%;
}
.textforlinux {
  position: absolute;
  left: 25%;
  top: 10%;
  font-size: 90%;
  color: rgb(255, 255, 255);
  text-align: center;
}
.titel {
  position: absolute;
  left: 22%;
  top: 190%;
  font-size: 250%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.sidebar{
  float: left;
  width: 150px;
  height: 800%;
  margin-left: -200px;
  background: #2e2e2e8f;
  overflow: hidden;
  transition: 0.8s all;
  border-radius: 10px;
}
.side{
  margin-left: 0;
}
.sidebar ul{
  margin: 0;
  padding: 0;
}
.sidebar ul li{
  list-style: none;
}
.sidebar ul li a{
  text-decoration: none;
  color: white;
  height: 80px;
  width: 100%;
  font-size: 25px;
  line-height: 80px;
  text-align: center;
  display: block;
  transition: 0.6 all;
}
.sidebar ul li a:hover {
  background: #383a3b;
}
.btn{
  float: left;
  padding: 0 10px;
  font-size: 55px;
  text-decoration: none;
  position: absolute;
  color: #434950;
  background-color: #2e2e2e8f;
  border-radius: 10px;
  font-family: Ionicons;
  cursor: pointer;
  z-index: 2;
}
.btn:before{
  content: "\f20d";
}
.btnc:before{
  content: "\f12a";
  border-radius: 0px;
}
.untengrau{
  position: absolute;
  background: rgb(27, 26, 26);
  width: 1852px;
  height: 75px;
  left: -0.15%;
  top: 1018.5%;
  padding: 10px;
  text-decoration: none;
  border: 3px solid #363636;
}
.azo a {
top: 40%;
left: 5%;
width: 150px;
height: 0px;
font-family: fantasy ;
font-size: 17px;
color: rgba(172, 172, 172, 0.623);
position: absolute;
text-decoration: none;
-webkit-transition: color ease-in 0.1s;
-moz-transition: color ease-in 0.1s;
-o-transition: color ease-in 0.1s;
transition: color ease-in 0.1s;
}
.kontakt a{
top: 40%;
left: 17%;
width: 150px;
height: 0px;
font-family: fantasy ;
font-size: 17px;
color: rgba(172, 172, 172, 0.623);
position: absolute;
text-decoration: none;
-webkit-transition: color ease-in 0.1s;
-moz-transition: color ease-in 0.1s;
-o-transition: color ease-in 0.1s;
transition: color ease-in 0.1s;
}
.copy a{
top: 40%;
left: 26.5%;
width: 150px;
height: 0px;
font-family: fantasy ;
font-size: 17px;
color: rgba(172, 172, 172, 0.623);
position: absolute;
text-decoration: none;
-webkit-transition: color ease-in 0.1s;
-moz-transition: color ease-in 0.1s;
-o-transition: color ease-in 0.1s;
transition: color ease-in 0.1s;
}
.dmca a{
top: 40%;
left: 37%;
width: 150px;
height: 0px;
font-family: fantasy ;
font-size: 17px;
color: rgba(172, 172, 172, 0.623);
position: absolute;
text-decoration: none;
-webkit-transition: color ease-in 0.1s;
-moz-transition: color ease-in 0.1s;
-o-transition: color ease-in 0.1s;
transition: color ease-in 0.1s;
}
.privacy a{
top: 40%;
left: 50%;
width: 150px;
height: 50px;
font-family: fantasy;
text-decoration: none;
font-size: 17px;
color: rgba(172, 172, 172, 0.623);
position: absolute;
-webkit-transition: color ease-in 0.1s;
-moz-transition: color ease-in 0.1s;
-o-transition: color ease-in 0.1s;
transition: color ease-in 0.1s;
}
.cookie a{
top: 40%;
left: 63%;
width: 150px;
height: 0px;
font-family: fantasy ;
font-size: 17px;
color: rgba(172, 172, 172, 0.623);
position: absolute;
text-decoration: none;
-webkit-transition: color ease-in 0.1s;
-moz-transition: color ease-in 0.1s;
-o-transition: color ease-in 0.1s;
transition: color ease-in 0.1s;
}
.datent a{
top: 40%;
left: 79%;
width: 150px;
height: 0px;
font-family: fantasy ;
font-size: 17px;
color: rgba(172, 172, 172, 0.623);
position: absolute;
text-decoration: none;
-webkit-transition: color ease-in 0.1s;
-moz-transition: color ease-in 0.1s;
-o-transition: color ease-in 0.1s;
transition: color ease-in 0.1s;
}
.über a{
top: 40%;
left: 90%;
width: 150px;
height: 0px;
font-family: fantasy ;
font-size: 17px;
color: rgb(172, 172, 172, 0.623);
position: absolute;
background-color: white;
text-decoration: none;
-webkit-transition: color ease-in 0.1s;
-moz-transition: color ease-in 0.1s;
-o-transition: color ease-in 0.1s;
transition: color ease-in 0.1s;
}
a:hover {
color: rgb(12, 128, 122);
}
