@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    background-color: rgb(255, 255, 255);
}
.cta button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
li, a{
  font-family: "Roboto", sans-serif;
  font-weight: 600px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
header {
  display: flex;
  background: rgb(24, 24, 24);
  justify-content: space-between;
  align-items: center;
  padding: 7px 0%;
  width: 100%;
  z-index: 12;
  position: fixed;
}
.logo {
    position: relative;
    left: 5%;
    width: 200px;
    margin-right: 0%;
    line-height: 50px;
}
.logo a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Viaoda Libre', cursive;
    color: white;
    letter-spacing: 5px;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 10px 40px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
 
}
.nav_links li a:hover{
  color: #00acee;
 
}
.cta button {
  margin-left: -40%;
  padding: 9px 35px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169,0.8 );
}
.bild {
    width: 100%;
    height: 10%;
}
.whiteboxmiddle {
  background-color: rgba(255, 255, 255, 0.596);
  padding: 7px 0%;
  width: 70%;
  height: 60%;
  z-index: 2;
  border-radius: 1%;
  left: 18%;
  position: absolute;
  top: 20%;
}
.newskasten {
    background-color: rgb(49, 49, 49);
    padding: 7px 0%;
    width:100%;
    height: 15%;
    z-index: 2;
    font-family:'Viaoda Libre', cursive ;
    font-size: 50px;
    top: 105%;
    position: absolute;
    letter-spacing: 3px;
}
.newstext h1{
    font-size: 45px;
    position: absolute;
    font-family: 'Viaoda Libre', cursive;
    color: white;
    letter-spacing: 5px;
    left: 47%;
    top: -10%;
}
.newstext hr{
  position: absolute;
  font-family: 'Viaoda Libre', cursive;
  color: white;
  width: 10%;
  left: 44.75%;
  top: 31.5%;
}
.news{
    background-color: rgb(49, 49, 49);
    padding: 7px 0%;
    width:100%;
    height: 75%;
    z-index: 2;
    font-family:'Viaoda Libre', cursive ;
    font-size: 50px;
    top: 120%;
    position: absolute;
    letter-spacing: 3px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .box{
 position: relative;
 width: 300px;
 height: 600px;
 padding: 20px;
 background-color: rgb(255, 255, 255); 
 box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
 border-radius: 4px;
 margin: 20px;
 box-sizing: border-box;
 overflow: hidden;
 text-align: center;
}
.container .box:before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    z-index: 2;
    pointer-events: none;
}
.container .box .icon {
  position: relative;
  width: 80px;
  height:80px;
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}
.container .box:nth-child(1) .icon {
  box-shadow: 0 0 0 0px #26ff00;
  background: black;
}
.container .box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 600px #017c01;
}
.container .box:nth-child(2) .icon {
  box-shadow: 0 0 0 0px rgb(0, 255, 234);
  background: black;
}
.container .box:nth-child(2):hover .icon {
  box-shadow: 0 0 0 600px rgb(0, 82, 85);
}
.container .box:nth-child(3) .icon {
  box-shadow: 0 0 0 0px rgb(255, 4, 234);
  background: black;
}
.container .box:nth-child(3):hover .icon {
  box-shadow: 0 0 0 600px rgb(255, 4, 150);
}
.container .box:nth-child(4) .icon {
  box-shadow: 0 0 0 0px rgb(0, 119, 255);
  background: black;
}
.container .box:nth-child(4):hover .icon {
  box-shadow: 0 0 0 600px rgb(25, 0, 255);
}
.container .box .content{
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
.container .box:hover .content {
  color: white;
}
.container .box .content h1 {
  font-size: 35px;
  font-family: 'Roboto', cursive ;
  margin: 10px 0;
  padding: 0;
}
.container .box .content p {
  margin: 0;
  padding: 0;
  font-size: 40%;
  font-family: 'Roboto', cursive ;
}
.content a {
  display: inline-block;
  padding: 10px 20px;
  background: white;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: all 0.3s ease 0s;
}
.content a:hover {
  color: rgb(0, 0, 0);
  background: rgba(173, 173, 173, 0.733);
}

.bilduntergrau{
    background-color: rgb(34, 34, 34);
    padding: 7px 0%;
    width: 19.5%;
    height: 25%;
    z-index: 12;
    left: 10.25%;
    top: 30.5%;
    position: absolute;
}
.bildupdate {
    width: 98%;
    height: 97%;
    z-index: 12;
    left: 1%;
    top: 1%;
    position: absolute;
}
.textunterupdate h1{
    color: rgb(255, 255, 255);
    padding: 7px 0%;
    width: 40%;
    height: 5%;
    z-index: 15;
    left: 15.5%;
    font-family:'Viaoda Libre', cursive ;
    font-size: 25px;
    top: 57%;
    position: absolute;
    letter-spacing: 3px;
}
.textunterupdate hr{
    color: rgb(255, 255, 255);
    width: 9%;
    z-index: 15;
    left: 14.75%;
    top: 64%;
    position: absolute;
}
.textunterupdate p{
    color: rgb(255, 255, 255);
    padding: 7px 0%;
    width: 15%;
    height: 5%;
    z-index: 15;
    left: 13%;
    font-family:'Roboto', cursive ;
    font-size: 17px;
    top: 65%;
    position: absolute;
    letter-spacing: 3px;
}
.textunterupdate p1{
    color: rgb(255, 255, 255);
    padding: 7px 0%;
    width: 15%;
    height: 5%;
    z-index: 15;
    left: 13%;
    font-family:'Roboto', cursive ;
    font-size: 17px;
    top: 65%;
    position: absolute;
    letter-spacing: 3px;
}
.readme h1 {
    color: rgb(255, 255, 255);
    padding: 7px 0%;
    width: 40%;
    height: 5%;
    z-index: 15;
    left: 15.5%;
    font-family:'Viaoda Libre', cursive ;
    font-size: 15px;
    top: 77%;
    position: absolute;
    letter-spacing: 3px;
}
.endbar {
    display: flex;
    background: rgb(24, 24, 24);
    padding: 7px 0%;
    width: 100%;
    height: 10%;
    z-index: 2;
    top: 300%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}
.under_links {
  list-style: none;
}
.under_links li {
  display: inline-block;
  padding: 10px 48px;
}
.under_links li a {
  transition: all 0.3s ease 0s;
 
}
.under_links li a:hover{
  color: #00acee;
 
}

.dcbutton button{
    width: 200px;
    height: 60px;
    background: 	rgb(114, 137, 218);
    position: absolute;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    font-family: fantasy;
    top: 82%;
    left: 2%; 
    border-radius: 6px;
    text-decoration: none;
    border: none;
    transition: all 0.5s ease 0s;
}
.dcbutton button:hover {
  background: rgb(0, 51, 192);
}
.discord i {
  position: absolute;
  width: 10px;
  height: 20px;
  color: white;
  font-size: 40;
  left: 3%;
  top: 86.5%; 
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.discord i:hover {
  color: rgb(255, 0, 0);
}
.twbutton button{
  width: 200px;
  height: 60px;
  background: 	#00acee;
  position: absolute;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  font-family: fantasy;
  top: 82%;
  left: 20%; 
  border-radius: 6px;
  text-decoration: none;
  border: none;
  transition: all 0.5s ease 0s;
}
.twbutton button:hover {
  background: rgb(42, 5, 255);
}
.twitter i {
  position: absolute;
  width: 10px;
  height: 20px;
  color: white;
  font-size: 40;
  left: 21%;
  top: 86.5%; 
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.twitter i:hover {
  color: rgb(208, 255, 0);
}
.inbutton button{
  width: 200px;
  height: 60px;
  background: rgb(193,53,132)	;
  position: absolute;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  font-family: fantasy;
  top: 82%;
  left: 38%; 
  border-radius: 6px;
  text-decoration: none;
  border: none;
  transition: all 0.5s ease 0s;
}
.inbutton button:hover {
  background: rgb(255, 0, 85);
}
.insta i {
  position: absolute;
  width: 10px;
  height: 20px;
  color: white;
  font-size: 40;
  left: 39.5%;
  top: 86.5%; 
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.twibutton button{
  width: 200px;
  height: 60px;
  background: #6441a5	;
  position: absolute;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  font-family: fantasy;
  top: 82%;
  left: 56%; 
  border-radius: 6px;
  text-decoration: none;
  border: none;
  transition: all 0.5s ease 0s;
}
.twibutton button:hover {
  background: rgb(73, 0, 95);
}
.twitch i {
  position: absolute;
  width: 10px;
  height: 20px;
  color: white;
  font-size: 40;
  left: 57%;
  top: 86.5%; 
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.shopbutton button{
  width: 300px;
  height: 60px;
  background: #ffa600	;
  position: absolute;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  font-family: fantasy;
  top: 82%;
  left: 74%; 
  border-radius: 6px;
  text-decoration: none;
  border: none;
  transition: all 0.5s ease 0s;
}
.shopbutton button:hover {
  background: rgb(255, 118, 5);
}
.shop i {
  position: absolute;
  width: 10px;
  height: 20px;
  color: white;
  font-size: 40;
  left: 78%;
  top: 86.5%; 
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.nameofwhitebox h1{
    color: rgb(0, 0, 0);
    padding: 7px 0%;
    width: 15%;
    height: 5%;
    z-index: 5;
    left: 45%;
    font-family:'Roboto', cursive ;
    font-size: 35px;
    top: 20%;
    position: absolute;
    letter-spacing: 4px;
}
.nameofwhitebox hr {
  color: rgb(0, 0, 0);
  background-color: black;
  width: 15%;
  z-index: 5;
  left: 42.75%;
  top: 27%;
  position: absolute;
  padding: 1px;
}
.nameofwhitebox p {
  color: rgb(0, 0, 0);
  padding: 7px 0%;
  width: 30%;
  height: 5%;
  z-index: 5;
  left: 35%;
  text-align: center;
  font-family:'Roboto', cursive ;
  font-size: 25px;
  top: 28%;
  position: absolute;
  letter-spacing: 4px;
}
.slogan hr{
  color: rgb(0, 0, 0);
  background-color: black;
  width: 30%;
  z-index: 5;
  left: 35%;
  top: 39%;
  position: absolute;
  padding: 1px;
}
.slogan h1{
  color: rgb(0, 0, 0);
  padding: 7px 0%;
  width: 30%;
  z-index: 5;
  left: 35%;
  text-align: center;
  font-family:'Roboto', cursive ;
  font-size: 23px;
  top: 40%;
  position: absolute;
  letter-spacing: 4px;
}
.download button{
  width: 400px;
  height: 60px;
  background: #006dfb	;
  position: absolute;
  color: white;
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
  margin: 12px 0;
  font-family: fantasy;
  top: 60%;
  z-index: 10;
  left: 40%; 
  border-radius: 6px;
  text-decoration: none;
  border: none;
  transition: all 0.5s ease 0s;
}
.download button:hover {
  background: rgb(25, 0, 255);
}
.nameofwhitebox i {
  position: absolute;
  width: 10px;
  height: 20px;
  color: white;
  font-size: 40;
  z-index: 11;
  left: 43%;
  top: 62.5%; 
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.angle i {
  position: absolute;
  width: 10px;
  height: 20px;
  z-index: 30;
  color: rgb(255, 255, 255);
  font-size: 30px;
  left: 49.5%;
  top: 60%; 
  box-shadow: black;
  transition: all 0.5s ease 0s;
}
.cookie p { 
  margin: 24px 0;
  line-height: 2;
}
.cookie {
  position: fixed;
  bottom: -100;
  left: 0;
  z-index: 10000;
  right: 0;
  background: rgb(6, 0, 58);
  color: white;
  padding: 0 32px;
  box-shadow: 0 -2px 16px black;

  transition: 400ms;
}
.cookie.active {
  bottom: 0;
}

.cookie a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #ff0000;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.softwere-box {
    background-color: rgb(36, 36, 36);
    padding: 7px 0%;
    width: 100%;
    height: 75%;
    z-index: 2;
    top: 195%;
    position: absolute;
}
